---

import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'
import Signature from '@/components/about/Signature.astro'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'stacks', text: 'Stacks' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'education', text: 'Education' },
  { depth: 2, slug: 'experience', text: 'Experience' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' {headings} info='/about'>
  <p>Developer / Researcher / Gamer</p>
  <p>
    I am a student at Fudan University, pursuing a Bachelor of Engineering in Software Engineering.
    I'm seeking internship opportunities in Quant Development & AI Research.
  </p>
  <p>
    Hardcore single-player gamer. Sometimes play FPS games with my friends. <Spoiler>No phone games!</Spoiler>
  </p>
  <p>
     
  </p>
  <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>Hobbies</h2>
  <ul>
    <li>Games (FPS, Soulslike, Rougelike, Puzzle, etc.)</li>
    <li>
      History (Ancient Chinese) & Philosophy (Western)
    </li>
    <li>
      Music & Singing (Chinese Pop, R&B, etc.)
    </li>
    <li>Magic & Cardistry (beginner-level)</li>
  </ul>

  {/* stacks */}
  <h2 id='stacks'>Stacks</h2>
  <p>Here are my currently tech stacks:</p>
  
  <ToolSection
    class='mb-5'
    title='Programming Languages'
    tools={[
      {
        name: 'Python',
        description: 'Main Scripting Language',
        href: 'https://www.python.org/',
        icon: import('@/assets/tools/python.svg?raw')
      },
      {
        name: 'C++',
        description: 'Main Programming Language',
        href: 'https://www.cplusplus.com/',
        icon: import('@/assets/tools/cpp.svg?raw')
      },
      {
        name: 'C',
        description: 'Seldom Used',
        href: 'https://en.wikipedia.org/wiki/C_(programming_language)',
        icon: import('@/assets/tools/c.svg?raw')
      },
      {
        name: 'Java',
        description: 'Seldom Used',
        href: 'https://www.java.com/',
        icon: import('@/assets/tools/java.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='AI'
    tools={[
      {
        name: 'PyTorch',
        description: 'Deep Learning Framework',
        href: 'https://pytorch.org/',
        icon: import('@/assets/tools/pytorch.svg?raw')
      },
      {
        name: 'LangChain',
        description: 'AI Application Framework',
        href: 'https://www.langchain.com/',
        icon: import('@/assets/tools/langchain.svg?raw')
      },

    ]}
  />
  <ToolSection
    class='mb-5'
    title='Frontend'
    tools={[
      {
        name: 'Astro',
        description: 'Static Site Generator',
        href: 'https://astro.build/',
        icon: import('@/assets/tools/astro.svg?raw')
      },
      {
        name: 'Streamlit',
        description: 'Data Visualization',
        href: 'https://streamlit.io/',
        icon: import('@/assets/tools/streamlit.svg?raw')
      },
      {
        name: 'Angular',
        description: 'Frontend Framework',
        href: 'https://angular.io/',
        icon: import('@/assets/tools/angular.svg?raw')
      }
    ]}  
  />

  <ToolSection
    class='mb-5'
    title='Backend'
    tools={[
      {
        name: 'Django',
        description: 'Python Web Framework',
        href: 'https://www.djangoproject.com/',
        icon: import('@/assets/tools/django.svg?raw')
      },
      {
        name: 'Spring Boot',
        description: 'Java Web Framework',
        href: 'https://spring.io/projects/spring-boot',
        icon: import('@/assets/tools/spring-boot.svg?raw')
      },
    ]}
  />

  <ToolSection
    class='mb-5'
    title='Utilities'
    tools={[
      {
        name: 'Docker',
        description: 'Containerization',
        href: 'https://www.docker.com/',
        icon: import('@/assets/tools/docker.svg?raw')
      },
      {
        name: 'Git',
        description: 'Version Control',
        href: 'https://git-scm.com/',
        icon: import('@/assets/tools/git.svg?raw')
      },
      {
        name: 'Linux',
        description: 'Operating System',
        href: 'https://www.linux.org/',
        icon: import('@/assets/tools/linux.svg?raw')

      },
    ]}
  />

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>These are my currently used tools for coding and daily work:</p>
  
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: import('@/assets/tools/chrome.svg?raw')
      },
      {
        name: 'ChatGPT',
        description: 'AI Assistant',
        href: 'https://chatgpt.com/',
        icon: import('@/assets/tools/chatgpt.svg?raw')
      },
      {
        name: 'Obsidian',
        description: 'Note Taking',
        href: 'https://obsidian.md/',
        icon: import('@/assets/tools/obsidian.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'Cursor',
        description: 'IDE',
        href: 'https://cursor.com/',
        icon: import('@/assets/tools/cursor.svg?raw')
      },
      {
        name: 'JetBrains',
        description: 'IDE',
        href: 'https://www.jetbrains.com/',
        icon: import('@/assets/tools/jetbrains.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment & Hardware'
    tools={[
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'WSL',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'ROG Zephyrus G16 2022',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    <Spoiler>I will not tell you that the stats below except Steam game counts are not real-time. </Spoiler>
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/tommydzz',
        text: 'followers',
        count: 1
      },
      {
        platform: 'Zhihu',
        icon: 'zhihu',
        color: '#0084ff',
        link: 'https://www.zhihu.com/people/dong-zi-zhen-9',
        text: 'followers',
        count: 18
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#fe7398',
        link: 'https://space.bilibili.com/3493291171514479',
        text: 'followers',
        count: 1
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/profiles/76561198283765629/',
        text: 'games',
        api: 'steamgames/76561198283765629'
      },
    ]}
  />
  <h2 id='education'>Education</h2>
  <Timeline
    events={[
      {
        date: '2022-09-01',
        content: '<a href="https://www.fudan.edu.cn"target="_blank">Fudan University</a>'
      },
      {
        date: '2019-09-01',
        content: '<a href="https://www.fdfz.edu.cn"target="_blank">High School Affiliated to Fudan University</a>'
      },
      {
        date: '2015-09-01',
        content: '<a href="https://lida.hpe.cn/"target="_blank">Shanghai Lida Middle School</a>'
      },
      {
        date: '2010-09-01',
        content: '<a href="https://lushixiao.hpe.cn"target="_blank">Luwan Experimental Primary School Affiliated to Shanghai Normal University</a>'
      }
    ]}
  />

  <h2 id='experience'>Experience</h2>
  <Timeline
    events={[
      {
        date: '2024-07-22',
        content:
          '<a href="https://www.sap.com/"target="_blank">SAP AI Application Developer (Intern)</a>'
      }
    ]}
  />


  {/* about-blog */}
  <h2 id='about-blog'>About Blog</h2>
  <p>Website history:</p>
  <Timeline
    events={[
      {
        date: '2025-08-14',
        content:
          'Create a new website using <a href="https://astro.build/" target="_blank">Astro</a> and <a href="https://github.com/srleom/astro-theme-resume" target="_blank">Astro Theme Resume</a>'
      },
      {
        date: '2025-03-01',
        content:
          'Refactored the website using <a href="https://github.com/adityatelange/hugo-PaperMod" target="_blank">Hugo PaperMod Theme</a>'
      },
      {
        date: '2022-12-15',
        content: 'First version of the website, using <a href="https://hexo.io/" target="_blank">Hexo</a>'
      }
    ]}
  />
  <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p>
  <ul>
    <li>Domain: <a href='#' target='_blank'>Vercel</a></li>
    <li>
      Framework & Theme: <a href='https://astro.build/' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      Site hosting: <a href='https://vercel.com/' target='_blank'>Vercel</a>
    </li>
    <li>
      CI/CD: <a href='https://vercel.com/workflow' target='_blank'>Vercel Workflow</a>
    </li>
    <!-- <li>Resources speedup: <a href='https://cdn.cbd.int/' target='_blank'>CBD CDN</a></li> -->
    <li>Comment system: <a href='https://waline.js.org' target='_blank'>Waline</a></li>
    <li>
      Visits: <a href='https://umami.is/' target='_blank'>Umami</a>
    </li>
    <li>
      Other statistics: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a
      >
    </li>
  </ul>
  {<Signature />}
  <Comment slot='bottom' />
</PageLayout>
