---
import links from 'public/links.json'
import config from 'virtual:config'

import { Comment } from 'astro-pure/advanced'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'recommended-bloggers', text: 'Bloggers' },
  { depth: 2, slug: 'recommended-games', text: 'Games' },
  { depth: 2, slug: 'recommended-books', text: 'Books' }
]

const { friends } = links
---

<PageLayout title='Links' {headings} info='/links'>
  <p>Here are some of my carefully selected content, I hope it can inspire you and help you~</p>
  
  <h2 id='recommended-bloggers'>Bloggers</h2>
  <FriendList list={friends[0]} />
  
  <h2 id='recommended-games'>Games</h2>
  <FriendList list={friends[1]} />
  
  <h2 id='recommended-books'>Books</h2>
  <FriendList list={friends[2]} />
  
  <Comment slot='bottom' />
</PageLayout>
